streamlit==1.29.0
Pillow==9.5.0
pandas==1.4.4
matplotlib==3.5.2


openpyxl==3.0.10

plotly==5.9.0
st-clickable-images==0.0.3

rembg==2.0.50
numba==0.57
numpy==1.23.0

folium
streamlit_folium

qrcode[pil]==7.3

seaborn

requests
bs4

moviepy

python-docx
japanmap
opencv-python

